.container {
    max-width: 850px;
    margin: 4rem auto;
    padding: 0 2rem;

    display: flex;
    flex-direction: column;
}

.container h1 {
    color: var(--white);
}

.containerHeader {
    display: flex;

    button {
        background: transparent;
        border: 0;
        margin-left: 1rem;
    }
}

.listPayslips {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
}

.payslipItem {
    display: flex;
    background-color: var(--dark-600);
    margin-bottom: 1rem;
    align-items: center;
    border-radius: 0.3rem;

    button {
        border: 0;
        background: transparent;
        font-size: 1.1rem;
        color: var(--white);
        height: 60px;
        align-items: center;
        display: flex;
        gap: 2rem;
    }
}

.actions {
    margin-left: 15rem;
    display: flex;
    gap: 0.9rem;
    transition: all 0.5s;

    span {
        opacity: 0.7;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
            color: var(--green-800);
        }
    }
}

.tag {
    width: 9px;
    background-color: var(--green-800);
    height: 60px;
    border-radius: 0.3rem 0 0 0.3rem;
    margin-right: 1rem;
}

@media screen and (max-width:800px) {
    .listPayslips {
        button {
            .spanColaborador {
                display: none;
            }

            .actions {
                margin-left: 22rem;
            }
        }
    }
}

@media screen and (max-width:550px) {
    .listPayslips {
        button {
            .spanColaborador {
                display: none;
            }

            .actions {
                margin-left: 3.5rem;
            }
        }
    }
}